:root {
  --main-text-color: #010A26;
  --hover-color: whitesmoke;
  --light-gray: lightslategray;
  --indigo-color: indigo;
  --main-font: "Raleway";
  --logo-heading-font: "Fredoka One";
  --blue-color: #0528f2;
  --yellow-color: goldenrod; /*#F2B705;*/
  --orange-color: #f29509;
  --purple-color: #403273;
  --red-color: #F20519;
  --list-items-color: #03588C;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.65rem;
  line-height: 1.5;
  color: var(--main-text-color);
  font-family: var(--main-font, san-serif);
}

a:not(#Reference a) {
  text-decoration: none;
}

/* ************** */
/* Styling the main header and navigation */
/* ************** */
#header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
  background-color: var(--yellow-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo-main-nav {
  width: 70vw;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.logo {
  width: 20%;
  color: var(--purple-color);
  font-size: 2.1rem;
  font-family: var(--logo-heading-font);
  letter-spacing: 2px;
  cursor: pointer;
}

.nav {
  width: 70%;
}

.main-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.main-nav li .navlink, .navlink {
  color: gainsboro;
  font-family: var(--main-font, san-serif);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.main-nav li .navlink:hover, .other-nav div .navlink:hover {
  color: var(--hover-color);
  font-weight: bold;
  transition: color .5s, font-weight .5s;
}

.other-nav {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

#language-select {
  padding: 0.3rem 0.6rem;
  font-family: inherit;
}

.log-btn {
  /* border: 1px solid black; */
  background-color: var(--purple-color);
  padding: 0.7rem 0.9rem;
  transition: background-color 2s;
}

.log-btn:hover {
  background-color: var(--indigo-color);
}

/* change the site language hover background from blue to light gray */

/* dropdown menu */
li.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: white;
  border: 1px solid var(--light-gray);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2) ;
}

.dropdown-content a {
  display: block;
  padding: 1.5rem 1.5rem;
  color: inherit;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
  font-weight: 500;
}

li.dropdown:hover .dropdown-content {
  display: block;
}

/* ************ */
/* Page/Secondary navigation */
/* *********** */

#navbar {
  position: fixed;
  top: 7rem;
  left: 0;
  height: 100%;
  width: 30rem;
  border-right: 0.5px solid var(--light-gray);
}

#navbar header {
  padding: 8px 0;
  padding-left: 1.8rem;
  font-size: 2rem;
  text-align: left;
  margin: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#navbar ul {
  list-style-type: none;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}


#navbar .nav-link {
  display: block;
  font-size: 1.9rem;
  color: var(--main-text-color);
  padding: 1.5rem 2.8rem;
}

.nav-link:hover {
  background-color: var(--hover-color);
  font-size: 2rem;
  font-weight: 600;
  transition: background-color .1s, font-size .1s, font-weight .1s;
}

/* ************ */
/* Styling the main content area */
/* *********** */

#main-doc {
  margin-left: 34.5rem;
  padding: 2rem ;
  line-height: 1.9;
  position: absolute;
  /* border: 1px solid hotpink; */
}

#main-doc li {
  width: 85%;
}

.main-section {
  padding-top: 3.5rem;
  /* border: 1px solid black; */
  /* width: 80%; */
}

.main-section header {
  font-size: 3.2rem;
  padding: 2.5rem 0 0;
  /* border: 1px solid green; */
}

.section-content {
  margin: 0 1rem;
}

.section-content li {
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.heading {
  font-size: 2.5rem;
  color: var(--orange-color);
}

code.editor-style, code.cmd-style, code.error-style {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  margin: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.45rem;
  width: 80%;
}

code.editor-style {
  border-left: 3px solid var(--blue-color);
  background: gainsboro;
}

code.cmd-style {
  background: linear-gradient(to bottom right, gray, black);
  color: ghostwhite;
}

code.error-style {
  border-left: 3px solid;
  border-color: var(--red-color);
  background: gainsboro;
}

code.intext-style {
  color: var(--red-color);
  padding: 0 0.3rem;
  background-color: gainsboro;
}


span.comment-out {
  color: green;
}

ul.data-type-list {
  list-style-type: '> ';
}

::marker {
  color: var(--purple-color);
}

#Reference ul li a {
  color: var(--purple-color);
}

#Reference ul li a:hover {
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width:776px) {

  #header {
    padding: 1rem 2.2rem;
    display: flex;
    flex-flow: column-reverse;
 
  }

  .logo-main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: 2.2rem;
    letter-spacing: 1px;
  }

  .main-nav {
    justify-content: flex-end;
    gap: 1.4rem;
  }

  .main-nav li .navlink, .navlink {
    letter-spacing: 1px;
    font-size: 1.4rem;
  }

  .other-nav {
    padding: 0.5rem 0;
    justify-content: flex-end;
    gap: 1.4rem;
    width: 100%;
  }

  .dropdown-content {
    right: 0;
    
  }

  #navbar {
    position: absolute;
    width: 100%;
    top: 10rem;
    padding: 0;
    margin: 0;
    max-height: 25rem;
    border: none;
    border-bottom: 3px double;
    border-color: var(--purple-color);
    z-index: 1;
  }

  #navbar header {
    font-size: 2.3rem;
  }

  #navbar ul {
    height: 18.2rem;
  }

  #navbar ul li {
    border-top: 1px solid gainsboro;
  }

  #navbar .nav-link {
    font-size: 1.7rem;
  }

  #main-doc {
    position: relative;
    margin-top: 33rem;
    margin-left: 0;
    padding-top: 1rem;
  }

  .main-section header {
    font-size: 2.5rem;
  }

  .heading {
    font-size: 2rem;
  }

  p,
  .section-content li {
    font-size: 1.35rem;
  }

  code.editor-style,
  code.cmd-style,
  code.error-style {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 550px) {
  .logo-main-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav {
    width: 100%;
  }

  .main-nav {
    justify-content: center;
  }

  .main-nav li .navlink, .navlink {
    font-size: 1.4rem;
  }

  .other-nav {
    justify-content: space-between;
  }

  li.dropdown {
    position: static;
  }

  .dropdown-content {
    width: 100%;
    text-align: center;
    border: none;
  }

  #navbar {
    top: 12rem;
  }

  #navbar header {
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {

  #header {
    gap: 1rem;
  }

  .main-nav {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .main-nav li .navlink, .navlink {
    font-size: 1.2rem;
  }

  #language-select {
    font-size: 1.12rem;
  }

  .dropdown-content a {
    font-size: 1.2rem;
  }

  #navbar {
    top: 24rem;
  }

  #navbar header {
    font-size: 1.9rem;
  }

  #navbar .nav-link {
    font-size: 1.5rem;
  }

  #main-doc {
    margin-top: 45rem;
  }

  .main-section header {
    font-size: 2.15rem;
  }

  .heading {
    font-size: 1.8rem;
  }

}
